$default: #a3a3a3;
$accent: #ffc800;
// $hover: #0554ff;
// $hover: #ff6e00;
$hover: #ff600a;
$background: #000;

// %btn {
//    @extend %cardo-400;
//    background-color: $accent;
//    font-size: 19px;
//    line-height: 28px;
//    letter-spacing: 0.57px;
//    text-transform: capitalize;
//    color: $default;
//    border: none;
//    cursor: pointer;
//    transition: all .2s;

//    &:hover {
//       color: $accent;
//       background-color: $hover;
//    }
// }

%roboto-400 {
   font-family: "Roboto-Regular", sans-serif;
   font-weight: 400;
}

%roboto-700 {
   font-family: "Roboto-Bold", sans-serif;
   font-weight: 700;
}
