# .DS_Store
# .idea/
# .idea/*
# .vscode
# *.sublime*
# npm-debug.*
# .prettierignore

# dist/
# node_modules
# package-log.json
# app/css/*


.DS_Store
.idea/
.idea/*
.vscode
*.sublime*
npm-debug.*
.prettierignore

# Ігноруємо всі папки та файли, окрім dist
/app/
node_modules
package-lock.json
app/css/*
dist/*
!dist/
